.container {
    background-color:rgb(255,255,255);
}
h1{
    text-align:center;
}
.Marker {
    height:100px;
    width:500px;
    margin: 10px auto;

}

.red {
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    /*box-shadow: inset(optional if you want the shadow to be inside the box) || offsetX || offsetY || blurRadius(required) || spreadRadius
    (optional[spreads the shadow evenly around the box]) color */
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
  }
  
  .green {
    background: linear-gradient(#55680D, #71F53E, #116C31);
    box-shadow: 0 0 20px 0 #3B7E20CC;
  }

.blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 20px 0 hsla(223,59%,31%,0.8);
  }
.cap,.sleeve{
    display:inline-block;
}
.cap {
    width:100px;
    height:100px;
}
.sleeve{
    width:300px;
    height:100px;
    /*border-left:line width||line style||color*/
    border-left:10px double rgba(0,0,0,0.75);
    background-color:rgba(255,255,255,0.5);
}