.canvas{
    width:500px;
    height:600px;
    background-color:#4d0f00;
    /*overflow lets you control whether the content inside your element can flow over the element (for example flow over the padding, border etc).
    Possible values: auto,visible,hidden, scroll.*/
    overflow:hidden;
    filter:blur(1px);
    margin:auto;
}

.frame{
    border: 50px solid black;
    width:500px;
    padding:50px 50px 50px 50px;
    margin:20px auto;
}

.one{
    width:425px;
    height: 150px;
    background-color: #efb762;
    border-radius: 9px;
    transform:rotate (-0.6deg);

    filter: blur(1px);
    margin: 20px auto;
    box-shadow: 0px 0px 3px 3px black;
}

.two {
    width:475px;
    height: 200px;
    background-color: #173FD4;
    border-radius: 4px;
    transform:rotate(0.6deg);
    filter:blur(2px);
    margin:0px auto 20px auto; 
    box-shadow:5px -2px 3px 3px black; 
}

.three {
    width:400px;
    height: 170px;
    background-color:#FC4232; 
    border-radius: 6px 9px;
    transform:rotate(0.2deg);
    filter: blur(1px);
    margin: 0px auto 20px auto;
    box-shadow: 4px -1px 3px 3px black;
}